:root {
  --main-color: #111827;
  --background-color: #f3f4f6;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
body,
html {
  height: 100vh;
  width: 100%;
  background-color: var(--background-color);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  width: 100%;
  background-color: var(--main-color);
}
.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 15px 20px 15px 20px;
  align-items: center;
}
.containerHeader a {
  color: white;
}
.containerHeader nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.logo {
  font-weight: 600;
  font-size: 20px;
}
main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}
footer {
  background-color: var(--main-color);
  padding: 15px 20px 15px 20px;
  color: white;
  justify-items: center;
}
.slider {
  background-color: grey;
  max-width: 1000px;
  height: 300px;
  border-radius: 10px;
  overflow: clip;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 auto 0 auto;
  width: 100%;
}
.imageContainer {
  width: 100%;
  height: 100%;
}
.imageContainer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.75);
  transition: all 0.3s ease-out;
}
.imageContainer img.active {
  z-index: 5;
  opacity: 1;
}
.imageContainer img.inactive {
  z-index: 0;
  opacity: 0;
}
.slider button {
  position: absolute;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  font-size: 30px;
  color: rgb(0, 0, 0);
  aspect-ratio: 1;
  width: 32px;
  border-radius: 100%;
  cursor: pointer;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}
.popular {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  gap: 10px;
}
.mainPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.containerPopular {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}
.containerPopular article {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.formLogin,
.formRegister,
.createRqForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  width: 500px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.loginPage,
.registerPage,
.createRqPage,
.ordersPage,
.adminPage {
  display: flex;
  text-align: center;
  margin: auto;
}
.formLogin button,
.formRegister button {
  transition: all 0.3s ease-out;
  font-size: 14px;
  border: none;
  background-color: #2563eb;
  color: white;
  padding: 10px 0 10px 0;
  border-radius: 4px;
  cursor: pointer;
}
.formLogin button:hover {
  background-color: #4177ec;
}
.formLogin input,
.formRegister input,
.containerFormCreateRq label select,
.containerFormCreateRq label input,
.selectStatus {
  outline: none;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(189, 189, 189);
  transition: all 0.3s ease-out;
}
.formLogin input:focus,
.formRegister input:focus,
.containerFormCreateRq label select:focus,
.containerFormCreateRq label input:focus,
.selectStatus:focus {
  border: 1px solid rgb(150, 150, 150);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.formLogin a,
.formRegister a {
  color: #2563eb;
}
.formRegister button {
  background-color: #16a34a;
}
.formRegister button:hover {
  background-color: #23bb5b;
}
.loginNav,
.registerNav,
.requestsCreateNav,
.ordersNav,
.adminNav,
.logoutNav {
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}
.loginNav {
  background-color: rgb(30, 125, 202);
}
.loginNav:hover {
  background-color: rgb(65, 142, 206);
}
.registerNav {
  border: 1px solid rgb(30, 125, 202);
}
.registerNav:hover {
  background-color: rgb(30, 125, 202);
}
.requestsCreateNav {
  background-color: #28a745;
}
.requestsCreateNav:hover {
  background-color: #36bd56;
}
.ordersNav {
  background-color: #007bff;
}
.ordersNav:hover {
  background-color: #2e93ff;
}
.adminNav {
  background-color: #6f42c1;
}
.adminNav:hover {
  background-color: #8355d8;
}
.logoutNav {
  background-color: #dc3545;
}
.logoutNav:hover {
  background-color: #e24b5a;
}
.containerFormCreateRq {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}
.containerFormCreateRq label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.createRqButton {
  border: 0;
  cursor: pointer;
  border-radius: 6px;
  padding: 10px;
  transition: all 0.3s ease-out;
  background-color: #23bb5b;
  color: white;
}
.createRqButton:hover {
  background-color: #37d672;
}
textarea {
  resize: none;
  width: 100%;
  height: 60px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(197, 197, 197);
  transition: all 0.3s ease-out;
}
textarea:focus {
  border: 1px solid rgb(170, 170, 170);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.ordersDiv,
.adminDiv {
  background-color: white;
  width: 800px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ordersContainer,
.adminContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
  overflow-y: auto;
  padding: 20px;
}
.cardOrder {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 15px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.feedbackForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.submitFeedbackButton {
  border: none;
  padding: 10px;
  transition: all 0.3s ease-out;
  background-color: rgb(22, 182, 57);
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.submitFeedbackButton:hover {
  background-color: rgb(32, 223, 73);
}
